.card-author{
    padding:15px;
    .example-card{
        text-align: center;
        background-color: rgb(241, 185, 116);
        min-height:300px;
        .content,.coments{
            text-align: left;
        }
    }
}