<div class="clr-row" >
    <div class="clr-col-md-4 card-author" *ngFor="let user of authors">
        <mat-card class=" example-card">
            <mat-card-header >
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="title">
                    <a routerLink="authors/:id"(click)="goToPersonalPage(user.id)"
                    style="text-transform:capitalize;">{{user.username}}</a></mat-card-title>
                <mat-card-subtitle class="subtitle">Author</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                   <span style="text-transform:capitalize;">{{user.username}}'s</span>  page. All article
                </p>
            </mat-card-content>
       
        </mat-card>
    </div>
</div>