<div class="clr-row" >
    <div class="clr-col-md-4 card-author" *ngFor="let user of authors">
        <mat-card class=" example-card">
            <mat-card-header >
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="title"><a href="#">{{user.username}}</a></mat-card-title>
                <mat-card-subtitle class="subtitle">Author</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
                <p>
                    {{user.username}}'s page. All article
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
        </mat-card>
    </div>
</div>