<div class="row">
    <div>
        <h3>{{authorName}}'s page</h3>
    </div>
    <div class="clr-col-md-3 ">
        <i title="Back!" class="material-icons back-icon" (click)="moveToBack()">
            arrow_back
        </i>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-md-6 card-author" *ngFor="let post of posts">
        <mat-card class=" example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle>
                    <p style="text-transform:capitalize;">Author: {{post.author}}</p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="content">
                <p>
                    {{post.body}}
                </p>
            </mat-card-content>
            <mat-card-content class="coments">
                <h5>Coments:</h5>
                <p>
                    {{post.comment}}
                </p>

            </mat-card-content>

        </mat-card>
    </div>
</div>